# Yarn

**/node_modules/
/.yarn/
/.pnp.*

# Artifacts

**/*.tsbuildinfo
/packages/*/lib/
/packages/*/LICENSE
/websites/*/lib/
/websites/*/build/

# Third-Party

/third-party/live2d-cubism-core/*
!/third-party/live2d-cubism-core/LICENSE
!/third-party/live2d-cubism-core/live2dcubismcore.d.ts
/third-party/live2d-cubism-models/*
!/third-party/live2d-cubism-models/LICENSE
!/third-party/live2d-cubism-models/hiyori/
